.jumbotron {
  background-color: rgba(252, 92, 98, 1);
  min-height: 101px;
  width: 100.7%;
  left: -4px;
  top: -14px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
  position: relative;
}
.jumbotron div {
  margin-left: 15px;
}
.jumbotron div h1 {
  max-width: 178px;
  line-height: 28px;
  font-size: 24px;
}
.jumbotron div p {
  line-height: 19px;
}
.jumbotron img {
  border-radius: 50%;
  border: 5px solid rgba(252, 92, 98, 1);
  position: absolute;
  right: 15px;
  bottom: -30%;
}
