@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.root {
  margin-top: 58px;
  padding: 0 24px;
}

.title {
  color: #7f7f7f;
  font-weight: 600;
  font-size: 24px;
}
.spaces {
  border-collapse: collapse;
  min-width: 100%;
  /* font-size: min(4vw, 14px, 1rem); */
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.spaces::-webkit-scrollbar {
  width: 0px;
}
.space {
  position: relative;
}
.space p,
.space .ellipse {
  position: absolute;
  white-space: pre-wrap;
  max-width: 73px;
  color: #fff;
}
.space p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  bottom: 5px;
  left: 10px;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.ellipses {
  display: flex;
  justify-content: center;
  margin-top: 15;
}
.ellipses div {
  width: 4px;
  height: 4px;

  background: #ff0c0c;
}
.messages {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.nameTime {
  display: flex;
  justify-content: space-between;
}
.nameTime div {
  margin-bottom: 8px;
  font-size: 17px;
}
.time {
  position: absolute;
  right: 24px;
}
.msg {
  width: 70vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
